    # https://github.com/github/gitignore
!foo
  !bar
!bar

# dotfiles
.git/
.gist
  .gist
.less
.lesskey
.docker
.eclipse
.viminfo
.bookmarks
.NERDmarks
.git-completion.bash

# configuration
config/
.config/
.termux/
*.config

# credentials
.ssh/
.gnupg/

# miscellaneous
.vim/
.local/
NOTES*

# logs
log/
*.log
logs/
*.logs

# tags
tags
.tags
ctags
.ctags

# scopes
*cscope*

# history
.bash_history
.tmux_history

# backups
*.bak
*.session
.cache/
.Trash/

# binaries
bin/

# temporary
tmp/

# termux
storage/
downloads/

# OSX
Applications/
Downloads/
Pictures/
Desktop/
Library/
Movies/
Public/
Music/

# node
.npm/
.nvm/
node_modules/
.node_repl_history

# rails
app/assets/images

# ruby
.gem/
.bundle/
vendor/
*.gem
.rbenv
.irb_history
.guard_history
Guardfile

# python
.python_history

# postgresql
.psql_history
