[submodule ".vim/pack/u0_a311/start/vim-mucomplete"]
	path = .vim/pack/u0_a311/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule ".vim/pack/u0_a311/start/nerdtree"]
	path = .vim/pack/u0_a311/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/u0_a311/start/jellybeans.vim"]
	path = .vim/pack/u0_a311/start/jellybeans.vim
	url = https://github.com/vim-scripts/jellybeans.vim.git
[submodule ".vim/pack/u0_a311/start/ZoomWin"]
	path = .vim/pack/u0_a311/start/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/pack/u0_a311/start/vim-closetag"]
	path = .vim/pack/u0_a311/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule ".vim/pack/u0_a311/start/vim-endwise"]
	path = .vim/pack/u0_a311/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/u0_a311/start/vim-gitgutter"]
	path = .vim/pack/u0_a311/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/u0_a311/start/ctrlp.vim"]
	path = .vim/pack/u0_a311/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/u0_a311/start/csv.vim"]
	path = .vim/pack/u0_a311/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/pack/u0_a311/start/vim-fern"]
	path = .vim/pack/u0_a311/start/vim-fern
	url = https://github.com/lambdalisue/vim-fern.git
[submodule ".vim/pack/u0_a311/start/.vim/pack/u0_a311/start/vim-fern-git-status"]
	path = .vim/pack/u0_a311/start/.vim/pack/u0_a311/start/vim-fern-git-status
	url = https://github.com/lambdalisue/vim-fern-git-status.git
[submodule ".vim/pack/u0_a311/start/vim-fern-bookmark"]
	path = .vim/pack/u0_a311/start/vim-fern-bookmark
	url = https://github.com/lambdalisue/vim-fern-bookmark.git
[submodule ".vim/pack/u0_a311/start/close-buffers.vim"]
	path = .vim/pack/u0_a311/start/close-buffers.vim
	url = https://github.com/Asheq/close-buffers.vim.git
[submodule ".vim/pack/u0_a311/start/IndentLine"]
	path = .vim/pack/u0_a311/start/IndentLine
	url = https://github.com/Yggdroot/IndentLine.git
[submodule ".vim/pack/u0_a311/start/tagbar"]
	path = .vim/pack/u0_a311/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule ".vim/pack/u0_a311/start/vim-gutentags"]
	path = .vim/pack/u0_a311/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
