# https://github.com/github/gitignore

# dotfiles
.less
.lesskey
.bundle
.config
.docker
.eclipse
.gist
.local
.ssh
.viminfo

# history
log
logs
.bash_history
.tmux_history

# backups
*.bak

# termux
storage
downloads

# OSX
Applications
Desktop
Downloads
Library
Music

# node
.npm
.npmrc
.nvm
.node_repl_history
node_modules

# ruby
.gem
.irb_history
.rbenv

# python
.cache
.python_history
