[submodule ".vim/pack/devpunks/start/vim-endwise"]
	path = .vim/pack/devpunks/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/pack/devpunks/start/syntastic"]
	path = .vim/pack/devpunks/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/pack/devpunks/start/vim-closetag"]
	path = .vim/pack/devpunks/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule ".vim/pack/devpunks/start/vim-gitgutter"]
	path = .vim/pack/devpunks/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/u0_a311/start/vim-mucomplete"]
	path = .vim/pack/u0_a311/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule ".vim/pack/u0_a311/start/nerdtree"]
	path = .vim/pack/u0_a311/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/u0_a311/start/jellybeans.vim"]
	path = .vim/pack/u0_a311/start/jellybeans.vim
	url = https://github.com/vim-scripts/jellybeans.vim.git
