*.bak
.less
.lesskey
.bash_history
.bundle
.config
.docker
.eclipse
.gist
.local
.mutagen
.ssh
.viminfo
.NERDTreeBookmarks

# termux
storage

# OSX
Applications
Desktop
Downloads
Library
Music

# node
.npm
.npmrc
.nvm
.node_repl_history
node_modules

# ruby
.gem
.irb_history
.rbenv

# python
.cache
.python_history
