#!/bin/bash

#
#      d8b                            888
#      Y8P                            888
#                                     888
#      888 88888b.  88888b.  888  888 888888 888d888 .d8888b
#      888 888 "88b 888 "88b 888  888 888    888P"  d88P"
#      888 888  888 888  888 888  888 888    888    888
#  d8b 888 888  888 888 d88P Y88b 888 Y88b.  888    Y88b.
#  Y8P 888 888  888 88888P"   "Y88888  "Y888 888     "Y8888P
#                   888
#                   888
#                   888
#
# *************************************************************************
#  ~/.inputrc
#    - https://tldp.org/LDP/lfs/LFS-BOOK-6.1.1-HTML/chapter07/inputrc.html
#    - https://github.com/termux/termux-packages/blob/master/packages/readline/inputrc
#    - https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html
# ******************************************************↴
# Use Alt/Meta + Delete to delete the preceding word
# "\e[3;3~": kill-word

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
# "\e[B": history-search-forward
# "\e[A": history-search-backward

# ctrl left, ctrl right for moving on the readline by word
# "\e[1;5C": forward-word
# "\e[1;5D": backward-word

# Allow UTF-8 input and output, instead of $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Use `LS_COLORS` & readline-colored-completion-prefix
set colored-completion-prefix on
set colored-stats on

# arrow keys
set enable-keypad on
# Show extra file information when completing, `ls -F` (e.g. *,/,@)
set visible-stats on
set history-size 1000
# audible (default), visible, none
set bell-style visible
set blink-matching-paren on

# Immediately add a trailing slash when autocompleting symlinks & directories
set mark-directories on
set mark-symlinked-directories on

# Disable <Tab>-Autocompletion paging.
set page-completions off
# <Tab>-Autocompletion for (.)dot files.
set match-hidden-files on
# All <Tab>-Autocompletion ambiguous matches.
set show-all-if-ambiguous on
# Case insensitive <Tab>-Autocomplete matches.
set completion-ignore-case on
# Maximum <Tab>-Autocompletion display results.
set completion-query-items 200
# <Tab>-Autocompletion results in single column.
set completion-display-width 0
# Display ellipsis for long <Tab>-Autocompletion results.
set completion-prefix-display-length 10


# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# vi mode
#   - https://unix.stackexchange.com/questions/112406
#   - https://catonmat.net/bash-vi-editing-mode-cheat-sheet
#   - https://catonmat.net/ftp/bash-vi-editing-mode-cheat-sheet.txt
# set keymap vi
# set editing-mode vi
# set show-mode-in-prompt on
# https://unix.stackexchange.com/questions/529385/i-key-is-not-functional-in-bash
# "k": history-search-backward
# "j": history-search-forward
# PS1 prompt prefix
# set vi-cmd-mode-string '(vi CMD)'
# set vi-ins-mode-string '(vi INS)'
# set vi-ins-mode-string \1\e[6 q\2
# set vi-cmd-mode-string \1\e[2 q\2
# switch to block cursor before executing a command
# set keymap vi-insert
# RETURN: "\e\n"
