#
# -------------------------------------------------------------------------
# Version: 0.1
# File: .shellcheckrc
# Source: https://github.com/devpunks
# Author: Ahmid-Ra (github.com/snuggs)
# Maintainer: devPunks <https://github.com/devpunks>
# Description: Shellcheck Run Commands https://shellcheck.net
# -------------------------------------------------------------------------
#

